@page
@model PromerceHelpDesk.Web.Pages.Incidents.IndexModel
@{
    ViewData["Title"] = "Incidents";
    
}
@section Styles{
    <link href="~/css/pages/incident.css" rel="stylesheet" asp-append-version="true" />
}

<div class="container-lg mb-3">
    <div class="row">
        <div class="col-4">
            <a href="/incidents/add" class="btn btn-lg">@_L["New"] <i class="fa fa-plus-circle text-success"></i></a>
        </div>
        <div class="col-4">
            <button class="btn btn-lg" onclick="FillIncidents('')" title="@_L["Reload"]"><i class="fa fa-battery text-dark"></i></button>
        </div>
        <div class="col-4">
            <label for="loadAll" class="form-check-inline fs-4 mt-2">@_L["All"]</label>
            <input type="checkbox" id="loadAll" onchange="FillIncidents('')" class="form-check-input fs-2 mt-2" />
        </div>
        <div class="col-12 my-1">
            <input type="text" class="form-control" onkeyup="FillIncidents(this.value)" placeholder="@_L["Search"]" />
        </div>
    </div>
</div>
<div class="container-xl" id="incidents">
   
</div>
<div class="modal fade" id="pdfPreviewModal" tabindex="-1" role="dialog" aria-labelledby="pdfPreviewModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">               
                <div class="row">
                    <iframe id="pdfIframe" src="" width="100%" height="600px" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="CloseModal()" data-dismiss="modal">@_L["Close"]</button>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/js/pages/incidents.js" asp-append-version="true"></script>
}